@charset "utf-8";
/*
=======================================================================
	General Rules
=======================================================================
*/
* {
	padding:0px;
	margin:0px;
}
body {
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	padding:25px 0px;
}
a {
	text-decoration:none;
	outline:none;
	color:#666666;
}
a img {
	border:none;
}
.clear {
	clear:both;
}
.bold {
	font-weight:bold;
}
.colr {
	color:#4d7512 !important;
}
.black {
	color:#000;
}
h1 {
	font-size:22px;
	font-weight:normal;
}
h2 {
	font-size:20px;
	font-weight:normal;
}
h3 {
	font-size:18px;
	font-weight:normal;
}
h4 {
	font-size:16px;
	font-weight:normal;
}
.subhead {
	margin-top:20px;
	width:100%;
	float:left;
}
h5 {
	font-size:14px;
	font-weight:normal;
}
h6 {
	font-size:12px;
	font-weight:normal;
}
p {
	line-height:18px;
}
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.heading {
	padding:10px 0px 8px 0px;
	width:100%;
	border-bottom:#dddddd solid 1px;
	margin-bottom:10px;
	text-transform:uppercase;
}
input {
	font-size:11px;
}
.itlc {
	font-style:italic;
}
/*
=======================================================================
	Buttons
=======================================================================
*/

a.simplebtn {
	height:19px;
	display:inline-block;
	color:#FFF;
	padding:3px 10px 0px 10px;
	background-image:url(../images/buttn_bg.gif);
	background-repeat:repeat-x;
	border:#333333 solid 1px;
}
.simplebtn {
	height:19px;
	display:inline-block;
	color:#FFF;
	padding:3px 10px 0px 10px;
	background-image:url(../images/buttn_bg.gif);
	background-repeat:repeat-x;
	border:#333333 solid 1px;
}
a.simplebtn:hover {
	color:#fff;
	background-color:#558410;
	background-image:none;
}
.simplebtn:hover {
	color:#fff;
	background-color:#558410;
	background-image:none;
}
.proceed {
	display:inline-block;
	color:#FFF;
	padding:10px 30px 10px 30px;
	background-image:url(../images/buttn_bg_big.gif);
	background-repeat:repeat-x;
	border:#333333 solid 1px;
}
.proceed:hover {
	color:#fff;
	background-color:#558410;
	background-image:none;
}
.cartmarg {
	margin-top:8px;
	margin-right:5px;
}
/*
=======================================================================
	Wrapper Section Rules
=======================================================================
*/
#wrapper_sec {
	width:960px;
	margin:0px auto;
	background-image:url(../images/wrapper_bg.gif);
	background-repeat:repeat-x;
	background-color:#FFF;
}
/*
=======================================================================
	Header Rules
=======================================================================
*/
#masthead {
	width:960px;
	float:left;
	color:#000;
	margin-bottom:7px;
}
/*
=======================================================================
	Logo Rules
=======================================================================
*/
.logo {
	float:left;
	height:52px;
	padding:30px 0px 0px 20px;
}
/*
=======================================================================
	Small Cart Rules
=======================================================================
*/
.small_cart {
	width:300px;
	height:66px;
	float:right;
	background-image:url(../images/cart.gif);
	background-position:left;
	background-repeat:no-repeat;
	margin:13px 11px 0px 0px;
}
.small_cart .items{
	padding-left:90px;
	float:left;
	margin-top:15px;
}
.small_cart .items a{
	text-decoration:underline;
}
ul.network {
	float:right;
	list-style:none;
	padding:15px 10px 0px 0px;
	width:80px;
}
ul.network li{
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}
ul.network li.share{
	width:80px;
}
/*
=======================================================================
	Language Rules
=======================================================================
*/
ul.lang {
	float:right;
	list-style:none;
	color:#FFF;
	margin:9px 10px 0px 0px;
}
ul.lang li{
	float:left;
	margin-right:5px;
}
ul.lang li a{
	float:left;
	border:#333 solid 1px;
}
/*
=======================================================================
	2nd Navigation Rules
=======================================================================
*/
.secnd_navi {
	float:left;
	width:940px;
	height:31px;
	background-color:#4d7512;
	margin-left:10px;
	color:#fff;
}
ul.links{
	list-style:none;
	float:left;
	padding-top:8px;
}
ul.links li{
	float:left;
	padding:0px 7px;
	background-image:url(../images/sep1.gif);
	background-repeat:no-repeat;
	background-position:right;
}
ul.links li.last{
	padding-right:0px;
	background-image:none;
}
ul.links li a{
	color:#b9d194;
}
ul.links li a:hover{
	color:#fff;
	text-decoration:underline;
}
ul.search {
	float:right;
	list-style:none;
	width:190px;
	height:21px;
	background-image:url(../images/search.gif);
	background-position:top left;
	border:#4d4031 solid 1px;
	margin:3px 5px 0px 0px;
}
ul.search li{
	float:left;
}
ul.search li input.bar{
	float:left;
	height:18px;
	width:159px;
	padding:3px 5px 0px 5px;
	border:none;
	background-color:transparent;
	color:#666;
}
ul.search li input.go{
	margin:5px 0px 0px 0px;
}
/*
=======================================================================
	Banner Rules
=======================================================================
*/
#banner {
	margin-bottom:10px;
}
/*
=======================================================================
	Product Scroller Rules
=======================================================================
*/
#prod_scroller {
	width:938px;
	padding:0px 0px;
	border:#dddbd4 solid 1px;
	margin-bottom:10px;
	margin-left:10px;
	background-image:url(../images/heading_shadow.gif);
	background-position:center top;
	background-repeat:no-repeat;
	float:left;
}
#prod_scroller h3{
	width:928px;
	padding-left:10px;
	height:30px;
	padding-top:10px;
	border-bottom:#dddbd4 solid 1px;
}
#prod_scroller .prev{
	width:21px;
	height:21px;
	background-image:url(../images/left_butn.gif);
	background-position:left;
	background-repeat:no-repeat;
	float:left;
	margin:90px 10px 0px 10px;
}
#prod_scroller .next{
	width:21px;
	height:21px;
	background-image:url(../images/right_butn.gif);
	background-position:right;
	background-repeat:no-repeat;
	float:left;
	margin:90px 0px 0px 10px;
}
.scrol {
	width:850px !important;
	float:left;
	margin-top:20px;
}
.scrol ul li{
	margin:0px 4px;
	padding:3px;
	width:156px !important;
	height:210px !important;
	background-image:url(../images/panel_bg.gif);
	background-repeat:no-repeat;
	background-position:top;
}
.scrol ul li h6{
	margin:8px 0px 2px 0px;
}
.scrol ul li p{
	margin:0px 0px 2px 0px;
	color:#000;
}
.scrol ul li p a{
	color:#000;
	text-decoration:underline;
}
/*
=======================================================================
	Bread Crumb Rules
=======================================================================
*/
.crumb {
	float:left;
	width:920px;
	height:34px;
	padding:0px 10px 0px 10px;
	margin-left:10px;
	border-bottom:#dddbd4 solid 1px;
}
.crumb ul{
	float:left;
	list-style:none;
	margin-top:9px;
}
.crumb ul li{
	float:left;
	background-image:url(../images/sep_crumb.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding:0px 10px;
}
.crumb ul li.first{
	float:left;
	background-image:none;
	padding:0px 10px 0px 0px;
}
.crumb ul li a:hover{
	color:#666;
}
.crumb ul li a:hover{
	color:#000;
	text-decoration:underline;
}
/*
=======================================================================
	Content Section Rules
=======================================================================
*/
#content_sec {
	width:940px;
	padding:10px;
	float:left;
	background-color:#FFF;
	background-image:url(http://cl102.justhost.comhttp://cl102.justhost.com/404.shtml);
	background-repeat:repeat-x;
	background-position:bottom;
}
/*
=======================================================================
	Column 1 Rules
=======================================================================
*/
.col1 {
	width:220px;
	float:left;
	margin:0px 0px 0px 0px;
}
.col4 {
	width:220px;
	float: left;
        padding-left: 30px;
	margin:0px 0px 0px 0px;
}
.col1 .small_heading{
	width:220px;
	float:left;
	padding:0px 0px 17px 0px;
}
/*
=======================================================================
	Categories Rules
=======================================================================
*/
.category {
	width:220px;
	padding:0px 0px 10px 0px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.category h5{
	float:left;
	padding:7px 0px 5px 10px;
	color:#666666;
}

.glossymenu{
	margin: 0px;
	padding: 0;
	width: 220px;
	float:left;
}

.glossymenu a.menuitem{	
	color: #666;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	height:17px;
	padding: 3px 0px 0px 10px;
	text-decoration: none;
	background-image:url(../images/cat_gr_bf.gif);
	background-repeat:repeat-x;
	background-color:#ededed;
	border:#aaaaaa solid 1px;
	margin-top:2px;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
	color: #666;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 10px;
	right: 5px;
	border: none;
}

.glossymenu a.menuitem:hover{
	
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
	background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	width:218px;
	background-color:#fff;
	margin-bottom:3px;
	border:#aaa solid 1px;
	border-top:none;
	border-bottom:none;
}

.glossymenu div.submenu ul li{
}

.glossymenu div.submenu ul li a{
	color: #666;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding: 4px 0;
	padding-left: 15px;
	text-decoration: none;
	background-image:url(../images/cat_arow.gif);
	background-position:5px 10px;
	background-repeat:no-repeat;
	border-bottom:#aaa solid 1px;
	background-color:#FFF;
}

.glossymenu div.submenu ul li a:hover{
	background-color:#fafafa;
}
/*
=======================================================================
	My Account Rules
=======================================================================
*/
.myaccount {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.myaccount h5{
	float:left;
	padding:7px 0px 5px 0px;
	color:#666;
}
.myaccount ul{
	width:200px;
	float:left;
	padding:7px 0px;
	list-style:none;
}
.myaccount ul li{
	width:185px;
	padding:7px 0px 7px 15px;
	border-bottom:#e1e1e1 solid 1px;
	background-image:url(http://cl102.justhost.comhttp://cl102.justhost.com/404.shtml);
	background-position:left;
	background-repeat:no-repeat;
}
.myaccount ul li a{
	color:#666;
}
.myaccount ul li a:hover{
	font-weight:bold;
}
.myaccount ul li a.selected{
	font-weight:bold;
}
/*
=======================================================================
	My Cart Rules
=======================================================================
*/
.mycart {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.mycart h5{
	float:left;
	padding:7px 0px 5px 0px;
	color:#666666;
}
.mycart .right{
	padding-top:7px;
}
.mycart .left{
	padding-top:7px;
}
.mycart .veiwitems{
	padding:15px 0px 5px 0px;
	width:200px;
	border-bottom:#e4e4e4 solid 1px;
	display:inline-block;
}
.mycart .veiwitems a{
	text-decoration:underline;
}
.mycart .right a{
	text-decoration:underline;
}
.mycart ul{
	float:left;
	list-style:none;
	margin-bottom:10px;
}
.mycart ul li{
	float:left;
	width:200px;
	border-bottom:#e3e3e3 dotted 1px;
}
.mycart p.title{
	width:180px;
}
.mycart .grey{
	float:left;
	padding:1px 10px 5px 10px;
	background-color:#fafafa;
	width:180px;
	margin:10px 0px 2px 0px;
}
/*
=======================================================================
	Compare Products Rules
=======================================================================
*/
.compareproducts {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.compareproducts h5{
	float:left;
	padding:7px 0px 5px 0px;
	color:#666;
}

.compareproducts ul{
	float:left;
	list-style:none;
	padding-bottom:10px;
}
.compareproducts ul li{
	float:left;
	width:200px;
	border-bottom:#e3e3e3 dotted 1px;
	padding:5px 0px;
}
.compareproducts ul li .title{
	width:180px;
}
.compareproducts ul li .right{
	padding-top:3px;
}
/*
=======================================================================
	Community Poll Rules
=======================================================================
*/
.poll {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.poll h5{
	float:left;
	padding:7px 0px 0px 0px;
	color:#666;
}
.poll p{
	float:left;
	padding:7px 0px;
}
.poll ul{
	width:200px;
	float:left;
	padding:15px 0px;
	border-top:#d8d8d8 solid 1px;
	border-bottom:#d8d8d8 solid 1px;
	list-style:none;
	margin-bottom:10px;
}
.poll ul li{
	width:160px;
	float:left;
	padding:4px 10px;
}
.poll ul li input{
	float:left;
	margin-right:10px;
}
.poll a.vote{
	float:left;
	padding:3px 10px;
	background-color:#333333;
	color:#FFF;
	margin:10px 0px 0px 10px;
}
.poll a.vote:hover{
	background-color:#000;
	color:#FFF;
}
/*
=======================================================================
	Shop Now Rules
=======================================================================
*/
.shopby {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.shopby h5{
	float:left;
	padding:7px 0px 5px 0px;
	color:#666;
}
.shopby h6.head{
	width:180px;
	float:left;
	padding:7px 10px 0px 10px;
	background-color:#747474;
	color:#FFF;
}
.shopby h6.options{
	width:200px;
	float:left;
	padding:7px 0px 3px 0px;
	color:#666;
	border-bottom:#666 solid 1px;
}
.shopby ul{
	width:200px;
	float:left;
	list-style:none;
	padding:7px 0px;
}
.shopby ul li{
	width:200px;
	float:left;
	list-style:none;
	padding:7px 0px;
	border-bottom:#9a9a9a dotted 1px;
}
.shopby ul li a{
	color:#9a9a9a;
}
/*
=======================================================================
	Tags Rules
=======================================================================
*/
.tags {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.tags h5{
	float:left;
	padding:7px 0px 5px 0px;
	color:#666;
}
.tags ul{
	width:200px;
	float:left;
	min-height:100px;
	padding:20px 0px;
	list-style:none;
	background-color:#fafafa;
}
.tags ul li{
	padding:0px 5px;
	float:left;
}
.tags ul li a{
	float:left;
}
.tags ul li a.twelv{
	font-size:12px;
}
.tags ul li a.ten{
	font-size:10px;
}
.tags ul li a.sixteen{
	font-size:16px;
}
.tags ul li a.fourteen{
	font-size:14px;
}
.tags ul li a.eightn{
	font-size:18px;
}
/*
=======================================================================
	newsletter Rules
=======================================================================
*/
.col1 .newsletter {
	width:200px;
	padding:0px 10px 10px 10px;
	float:left;
	min-height:100px;
	background-image:url(../images/left_head.gif);
	background-repeat:repeat-x;
	margin-bottom:10px;
}
.col1 .newsletter h5{
	float:left;
	padding:7px 0px 5px 0px;
	color:#666;
}
.col1 .newsletter p{
	width:200px;
	float:left;
	padding:7px 0px;
}
.col1 .newsletter ul{
	width:200px;
	float:left;
	padding:7px 0px 15px 0px;
	list-style:none;
}
.col1 .newsletter ul li input.bar{
	background-color:#FFF;
	border:#cfcfcf solid 1px;
	width:195px;
	height:23px;
	background-image:url(../images/inputbar.gif);
	background-repeat:repeat-x;
	margin-bottom:6px;
}
.col1 .newsletter ul li input.subs{

}
/*
=======================================================================
	Column 2 Rules
=======================================================================
*/
.col2 {
	width:700px;
	float:right;
}
/*
=======================================================================
	Sorting Rules
=======================================================================
*/
.sorting {
	width:700px;
	margin:10px 0px;
	background-image:url(../images/gray_sort.gif);
	background-repeat:repeat-x;
	background-position:0px 25px;
	float:left;
}
.sorting p{
	padding-top:5px;
}
.sorting ul{
	float:left;
	list-style:none;
}
.sorting ul li{
	float:left;
	height:23px;
	padding:4px 10px 0px 10px;
}
.sorting ul li.last{
	border-right:none;
}
.sorting ul li.text{
	height:21px;
	padding:6px 10px 0px 10px;
}
/*
=======================================================================
	Shopping Cart Rules
=======================================================================
*/
.shoppingcart {
	width:940px;
	float:left;
	margin:30px 0px 0px 0px;
}
.shoppingcart ul.tablehead{
	width:938px;
	float:left;
	list-style:none;
	height:24px;
	padding-top:5px;
	border:#d3d3d3 solid 1px;
	background-color:#fafafa;
}
.shoppingcart ul.tablehead li{
	float:left;
	padding:2px 0px 0px 0px;
	font-weight:bold;
	font-size:12px;
	color:#666666;
	background:none !important;
	height:18px !important;
}
.shoppingcart ul li.remove{
	width:34px;
	text-align:center;
	height:28px;
	padding-left:10px;
}
.shoppingcart ul li.thumb{
	width:84px;
	text-align:center;
	height:44px;
	padding-top:4px !important;
}
.shoppingcart ul li.title{
	width:500px;
	padding-left:10px;
	height:28px;
}
.shoppingcart ul li.price{
	width:75px;
	text-align:center;
	height:28px;
}
.shoppingcart ul li.qty{
	width:64px;
	text-align:center;
	height:48px;
}
.shoppingcart ul li.save{
	width:85px;
	text-align:center;
	height:32px;
}
.save1{
	width:30px;
	
	height:32px;
        padding-top: 10px;
        
  
}
.shoppingcart ul li.qty input{
	width:27px;
	height:22px;
	padding-top:4px;
	background-image:url(../images/qty.gif);
	background-repeat:no-repeat;
	background-position:left;
	border:transparent solid 0px;
	text-align:center;
	margin-top:12px;
}
.shoppingcart ul li.total{
	width:75px;
	text-align:center;
}
.gray {
	
}
.shoppingcart ul.cartlist{
	width:940px;
	float:left;
	list-style:none;
	padding:0px 0px;
	height:50px;
	border-bottom:#dbdbdb solid 1px;
}
.shoppingcart ul.cartlist li{
	float:left;
	padding-top:0px;
}
.shoppingcart ul.cartlist li.txt{
	padding-top:20px;
}
.btns {
	border-bottom:#d7d7d7 solid 1px;
	width:100%;
	padding:15px 0px;
	float:left;
}
.btns ul{
	list-style:none;
}
.subtotal {
	width:930px;
	border-bottom:#dbdbdb solid 1px;
	float:left;
	padding:7px 10px 7px 0px;
}
.subtotal ul{
	float:left;
	list-style:none;
}
.subtotal ul li{
	float:left;
	margin-right:2px;
}
/*
=======================================================================
	Sections Rules
=======================================================================
*/
.sections {
	width:920px;
	float:left;
	padding:20px 0px;
}
.centersec {
	float:left;
	width:280px;
	margin:0px 43px;
}
/*
=======================================================================
	Cart Items Rules
=======================================================================
*/
.cartitems {
	width:244px;
	background-image:url(../images/section_bg.gif);
	background-repeat:repeat-x;
	background-color:#fff;
	border:#dbdbdb solid 1px;
	padding:10px;
	float:left;
	margin-bottom:10px;
}
.cartitems h6{
	width:244px;
	float:left;
}
.cartitems h6 span{
	padding-bottom:5px;
}
.cartitems ul{
	float:left;
	list-style:none;
}
.cartitems ul li{
	width:244px;
	border-bottom:#dbdbdb solid 1px;
	float:left;
	padding:20px 0px;
}
.cartitems ul li .thumb{
	float:left;
	width:110px;
	height:77px;
	margin-right:5px;
}
.cartitems ul li .thumb img{
	width:110px;
	height:77px;
}
.cartitems ul li .desc{
	float:left;
	width:125px;
}
.cartitems ul li .desc a.title{
	margin-bottom:5px;
	width:125px;
	float:left;
}
.cartitems ul li .desc p{
	margin-bottom:5px;
	width:125px;
}
/*
=======================================================================
	Discount Coupon Rules
=======================================================================
*/
.discount {
	width:258px;
	background-image:url(../images/section_bg.gif);
	background-repeat:repeat-x;
	background-color:#fff;
	border:#dbdbdb solid 1px;
	padding:10px;
	float:left;
	margin-bottom:10px;
}
.discount h6{
	width:258px;
	float:left;
}
.discount h6 span{
	padding-bottom:5px;
}
.discount p{
	width:258px;
	float:left;
	padding-top:5px;
}
.discount ul{
	width:258px;
	float:left;
	list-style:none;
	margin-top:10px;
}
.discount ul li{
	width:258px;
	float:left;
	padding-bottom:5px;
}
.discount ul li input.bar{
	width:235px;
	height:24px;
	background-color:#FFF;
	border:#a0a0a0 solid 1px;
	float:left;
}

/*
=======================================================================
	Estimate Rules
=======================================================================
*/
.estimate {
	width:258px;
	background-image:url(../images/section_bg.gif);
	background-repeat:repeat-x;
	background-color:#fff;
	border:#dbdbdb solid 1px;
	padding:10px;
	float:left;
	margin-bottom:10px;
}
.estimate h6{
	width:258px;
	float:left;
}
.estimate h6 span{
	padding-bottom:5px;
}
.estimate p{
	width:258px;
	float:left;
	padding-top:5px;
}
.estimate ul{
	width:258px;
	float:left;
	list-style:none;
	margin-top:10px;
}
.estimate ul li{
	width:258px;
	float:left;
	padding-bottom:5px;
}
.estimate ul li input.bar{
	width:235px;
	height:24px;
	background-color:#FFF;
	border:#a0a0a0 solid 1px;
	float:left;
}
.estimate ul li select.bar{
	width:235px;
	height:24px;
	background-color:#FFF;
	border:#a0a0a0 solid 1px;
	float:left;
}
/*
=======================================================================
	Grand Total Rules
=======================================================================
*/
.grand_total {
	width:265px;
	background-image:url(../images/section_bg.gif);
	background-repeat:repeat-x;
	background-color:#fff;
	border:#dbdbdb solid 1px;
	padding:10px;
	float:left;
	margin-bottom:10px;
}
.grand_total h5{
	font-weight:bold;
}
.grand_total ul{
	float:left;
	list-style:none;
	margin-left:74px;
	margin-bottom:5px;
}
.grand_total ul li{
	float:left;
}
.grand_total ul li.title{
	text-align:right;
	width:100px !important;
}
.grand_total ul li.price{
	text-align:right;
	width:80px !important;
}
/*
=======================================================================
	Login rules
=======================================================================
*/
.login {
	width:938px;
	height:320px;
	color:#000;
	background-color:#f7f7f7;
}
.login ul.forms{
	padding-left:0px;
}
.login ul.forms li.txt{
	color:#000;
}
.login a.loginbtn{
	height:18px;
	display:inline-block;
	color:#FFF;
	padding:3px 20px 0px 20px;
	background-color:#4d7512;
}
.registrd {
	width:387px;
	padding:00px 0px 30px 20px;
	margin:40px 0px 20px 20px;
	float:left;
}
.registrd h3{
	padding-bottom:10px;
	border-bottom:#4a4a4a solid 1px;
	color:#000;
	margin-bottom:20px;
}
.registrd p{
	padding-bottom:20px;
}
.registrd a.forgot{
	float:right;
	margin-left:60px;
	padding-top:7px;
	text-decoration:underline;
}

.newcus {
	width:382px;
	padding:0px 0px 30px 20px;
	margin:40px 0px 20px 60px;
	float:left;
}
.newcus h3{
	padding-bottom:10px;
	border-bottom:#4a4a4a solid 1px;
	color:#000;
	margin-bottom:20px;
}
.newcus p{
	padding:0px 0px 10px 0px;	
}
a.viewprods {
	float:right;
	margin:180px 80px 0px 0px;
}
/*
=======================================================================
	Product Detail Page Rules
=======================================================================
*/
.prod_detail {
	width:700px;
	float:left;
}
.prod_detail .big_thumb{
	width:238px;
	height:400px;
	background-color:#ededed;
	border:#ededed solid 1px;
	float:left;
	overflow:hidden !important;
}
.contentdiv {
	width:238px !important;
	height:311px !important;
	overflow:hidden !important;
	float:left;
}
.contentdiv img{
	width:238px !important;
	height:311px !important;
	overflow:hidden !important;
	float:left;
	margin:00px 0px 0px 0px;
	z-index:1;
}
.big_thumb #slider2{
	width:238px;
	height:311px;
	overflow:hidden !important;
	float:left;
}
.big_thumb #paginate-slider2{
	width:189px !important;
	height:60px;
	overflow:hidden;
	float:left;
	margin:17px 0px 0px 0px;
}
.big_thumb #paginate-slider2 ul{
	width:2000px !important;
}
#paginate-slider2 li{
	margin-right:9px;
}
#paginate-slider2 li a{
	border:#c2c2c2 solid 1px;
	float:left;
	height:55px !important;
	width:55px !important;
}
#paginate-slider2 li a.selected{
	border:#999 solid 1px;
}
#paginate-slider2 img{
	float:left;
	height:55px;
	width:55px;
	z-index:1;
}
a.prev {
	float:left;
	margin:38px 5px 0px 5px;
}
a.next {
	float:left;
	margin:38px 5px 0px 5px;
}
.zoom {
	background-repeat:no-repeat;
	background-position:top left;
	width:238px;
	height:311px;
	margin:-311px 0px 0px 0px;
	z-index:9;
	font-size:1000px;
	overflow:hidden;
	display:block;
	float:left;
}
.zoom:hover {
	background-image:url(../images/zoom.png);
}
.prod_detail .desc{
	width:440px;
	float:right;
}
.prod_detail .desc a.email{
	font-weight:bold;
	background-image:url(../images/email.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px;
}
.margn {
	padding:12px 0px 0px 20px;
}
.addtocart {
	width:438px;
	padding:5px 0px;
	background-image:url(../images/addtocart_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	border:#dbdbdb solid 1px;
	margin-top:10px;
}
.addtocart h6{
	padding:6px 0px 10px 5px;
}
.addtocart ul{
	list-style:none;
	float:left;
	padding:0px 0px 0px 5px;
}
.addtocart ul li{
	float:left;
	margin-right:10px;
}
.addtocart ul li.qty{
	width:30px;
	padding-top:2px;
}
.addtocart ul li.or{
	text-align:center;
	width:30px;
	padding-top:3px;
}
.addtocart ul li input.bar{
	float:left;
	width:45px;
	height:21px;
	background-color:#FFF;
	border:#d0d0d0 solid 1px;
}
.addtocart ul li a.add{
	background-image:url(../images/add.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px;
	margin-bottom:5px;
	float:left;
	margin-top:-3px;
}
.quickreview {
	padding:20px 5px;
	border-top:#dbdbdb solid 1px;
	margin-top:10px;
}
.quickreview h6{
	padding:0px 0px 5px 0px;
}
.quickreview p{
	padding:0px 0px 5px 0px;
}
.prod_desc {
	padding:20px 0px;
	float:left;
}
.prod_desc h6.bar{
	margin-bottom:10px;
	background-image:url(../images/bar.gif);
	background-repeat:repeat-x;
}
.aditional_info {
	padding:20px 0px;
	float:left;
}
.aditional_info h6.bar{
	margin-bottom:10px;
}
.aditional_info ul{
	padding:10px 0px;
	float:left;
	width:700px;
	border-bottom:#CCC solid 1px;
	list-style:none;
}
.aditional_info ul li{
	float:left;
}
.aditional_info ul li.title{
	float:left;
	width:210px;
}
.aditional_info ul li.desc{
	float:left;
	width:490px;
}
.tags_big {
	padding:20px 0px;
	float:left;
	width:100%;
}
.tags_big h6.bar{
	margin-bottom:10px;
}
.tags_big ul{
	float:left;
	list-style:none;
	padding:10px 0px;
}
.tags_big ul li{
	float:left;
	padding:0px 10px;
	background-image:url(http://cl102.justhost.comhttp://cl102.justhost.com/404.shtml);
	background-repeat:no-repeat;
	background-position:right;
	margin-bottom:10px;
}
.tags_big ul li.last{
	background:none;
}
.tags_big input.bar{
	float:left;
	background-color:#FFF;
	border:#999 solid 1px;
	height:24px;
	width:200px;
	margin:5px 0px 10px 0px;
}
.tags_big input.simplebtn{
	margin:0px 0px 10px 0px;
}
.rating {
	float:left;
	padding:12px 0px;
}
.rating ul{
	float:left;
	list-style:none;
}
.rating ul li{
	float:left;
	margin-right:2px;
}
ul.reviews{
	float:left;
	list-style:none;
	padding-bottom:20px;
}
ul.reviews li{
	float:left;
	background-image:url(../images/sep3.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding:0px 10px 0px 0px;
}
ul.reviews li.last{
	background-image:none;
	padding:0px 0px 0px 10px;
}
ul.reviews li a{
	color:#000;
}
/*
=======================================================================
	Input Form Rules
=======================================================================
*/
ul.forms {
	float:left;
	list-style:none;
	padding:0px 20px 10px 20px;
}
ul.forms li{
	float:left;
}
ul.forms li.txt{
	float:left;
	width:100px;
	color:#000;
	padding-top:5px;
}
.req {
	color:#F00;
}
ul.forms li.inputfield{
	float:left;
}
ul.forms li.inputfield input{
	width:229px;
	height:24px;
	background-image:url(../images/inputbar.gif);
	background-repeat:repeat-x;
	background-color:#FFF;
	border:#cccccc solid 1px;
	padding:0px 5px;
}
ul.forms li.inputfield select{
	width:241px;
	height:20px;
	background-image:url(../images/inputbar.gif);
	background-repeat:repeat-x;
	border:#cccccc solid 1px;
}
ul.forms li.textfield{
	float:left;
}
ul.forms li.textfield textarea{
	width:340px;
	height:110px;
	background-image:url(../images/inputbar.gif);
	background-repeat:repeat-x;
	border:#cccccc solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px;
}
ul.forms li.radiobtn{
	float:left;
}
ul.forms li.radiobtn input{
	margin:0px 10px;
	float:left;
}
ul.forms li.radiobtn .labletxt{
	margin:0px 20px 0px 0px;
	float:left;
}
/*
=======================================================================
	Acount Page Rules
=======================================================================
*/
.account {
	width:700px;
	float:left;
}
.account_title {
	width:700px;
	float:left;
	padding-bottom:10px;
}
.account_title h6{
	width:700px;
	float:left;
	padding:20px 0px 10px 0px;
}
.account_title p{
	width:700px;
	float:left;
}

.acount_info {
	width:700px;
	float:left;
	padding:20px 0px;
}
.account_table {
	width:700px;
}
.account_table ul{
	width:700px;
	list-style:none;
}
.account_table ul.headtable{
	width:694px;
	border:#dcdcdc solid 1px;
	background-image:url(../images/bar.gif);
	background-repeat:repeat-x;
	float:left;
	padding:3px;
}
.account_table ul.contable{
	width:694px;
	background-color:#fbfbfb;
	float:left;
	padding:6px 4px;
	border-bottom:#FFF solid 1px;
}
.account_table ul.gray{
	background-color:#f3f3f3;
}

.account_table ul li{
	float:left;
}
.account_table ul li.order{
	width:110px;
}
.account_table ul li.date{
	width:100px;
}
.account_table ul li.ship{
	width:80px;
}
.account_table ul li.ordertotal{
	width:130px;
}
.account_table ul li.status{
	width:126px;
}
.account_table ul li.action a{
	padding:0px 6px;
	border-left:#666 solid 1px;
}
.account_table ul li.action a.first{
	padding:0px 6px;
	border-left:none;
}
h6.bar{
	width:680px;
	border:#aaaaaa solid 1px;
	background-image:url(../images/bar.gif);
	background-repeat:repeat-x;
	height:20px;
	padding:10px 10px 0px 10px;
	float:left;
	margin-bottom:20px;
}
.small_sec {
	width:343px;
	min-height:132px;
}
.small_sec .content{
	min-height:80px;
	padding:10px 10px;
	float:left;
}
.small_sec .content p{
	width:100%;
	padding-bottom:5px;
	float:left;
}
.botm_small {
	width:343px;
	height:5px;
	bottom:0;
}
.small_sec .headng{
	float:left;
	width:323px;
	height:22px;
	padding:9px 10px 0px 10px;
	background-image:url(../images/bar.gif);
	background-repeat:repeat-x;
	border:#aaa solid 1px;
}
.small_sec .headng h6{
	float:left;
}
.big_sec {
	width:700px;
}
.big_sec .headng{
	float:left;
	width:680px;
	background-image:url(../images/bar.gif);
	background-repeat:repeat-x;
	border:#aaa solid 1px;
	padding:9px 10px 7px 10px;
	margin:20px 0px;
}
.big_sec .headng h6{
	float:left;
}
.view_tags {
	width:700px;
	float:left;
	margin-bottom:10px;
}
.view_tags .tagssec{
	width:340px;
	float:right;
}
.view_tags .viewssec{
	width:340px;
	float:left;
}
.view_tags ul{
	list-style:none;
	float:left;
	width:340px;
}
.view_tags ul li{
	padding:10px 0px;
	border-bottom:#d1d1d1 dashed 1px;
	width:340px;
	float:left;
}
.view_tags ul li h5.bullet{
	padding:2px 5px;
	float:left;
	background-color:#333333;
	color:#FFF;
	margin-right:10px;
}
.view_tags ul li h5.title{
	float:left;
	margin-top:2px;
}
.view_tags ul li .ratings{
	margin:3px 0px 0px 29px;
}
/*
=======================================================================
	Static Page Rules
=======================================================================
*/
.static {
	float:left;
	width:940px;
}
a.bordrs {
	padding:3px;
	border:#c9c9c9 solid 1px;
	float:left;
}
.static h1{
	padding:10px 0px;
	color:#666666;
}
.static h2{
	padding:8px 0px;
	color:#666666;
}
.static h3{
	padding:6px 0px;
	color:#666666;
}
.static h4{
	padding:5px 0px;
	color:#666666;
}
.static h5{
	padding:5px 0px;
	color:#666666;
}
.static h5 span{
	padding-bottom:10px;
}
.static h6{
	padding:5px 0px;
	color:#666666;
}
.static h5{
	padding:5px 0px;
	line-height:24px;
	color:#666666;
}
.static .left_sec {
	width:430px;
	padding-right:20px;
	border-right:#f0f0f0 solid 1px;
	float:left;
	margin:10px 0px;
}
.static .left_sec p{
	padding:10px 0px;
}
.static ul{
	padding:10px 0px 10px 30px;
}
.static .right_sec {
	width:450px;
	float:right;
	margin:10px 0px;
}
.static .testimonials {
	width:240px;
	background-image:url(http://cl102.justhost.comhttp://cl102.justhost.com/404.shtml);
	background-position:0% 56%;
	background-repeat:no-repeat;
	padding-bottom:10px;
	margin-bottom:30px;
	float:left;
}
.static .testimonials a.testi_name{
	font-size:12px;
	margin-top:15px;
	float:left;
}
.static .testimonials a.testi_name:hover{
	color:#000;
	text-decoration:underline;
}
.static .big_sec {
	width:940px;
	float:left;
	padding:15px 0px;
	border-top:#f0f0f0 solid 1px;
	margin:15px 0px;
}
.static a.left {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.static a.right {
	float:left;
	margin-left:20px;
	margin-bottom:20px;
}
/*
=======================================================================
	Listing Rules
=======================================================================
*/
.listing {
}
.listing ul{
	list-style:none;
	float:left;
}
.listing ul li{
	padding:3px;
	width:156px !important;
	background-image:url(../images/panel_bg.gif);
	background-repeat:no-repeat;
	background-position:top;
	float:left;
	margin-right:17px;
	margin-bottom:17px;
}
.listing ul li h6{
	margin:8px 0px 2px 0px;
}
.listing ul li.last{
	margin-right:0px;
}
.listing ul li h6{
	padding-bottom:4px;
}
.listing ul li a.thumb{
	float:left;
	margin-bottom:12px;
}
.listing ul li a.thumb img{
	width:154px;
	height:152px;
}
.listing ul li p.text{
	width:160px;
	border-bottom:#dddbd4 solid 1px;
	padding-bottom:3px;
	margin-bottom:3px;
	float:left;
}
.listing ul li p.price{
	padding-top:2px;
}
.listing ul li .regprice{
	text-decoration:line-through;
}
.listing ul li .stars{
	padding:5px 0px;
	float:left;
}
.listing ul li a.rev{
	float:right;
	text-decoration:underline;
	padding-top:4px;
}
a.addcrt{
	background-image:url(../images/addcart.gif);
	padding:3px 10px 3px 10px;
	background-repeat:repeat-x;
	background-position:top;
	margin-right:2px;
	height:17px;
	border:#d8d8d8 solid 1px;
	display:inline-block;
	float:left;
}
.addcrt{
	background-image:url(../images/addcart.gif);
	padding:3px 10px 3px 10px;
	background-repeat:repeat-x;
	background-position:top;
	margin-right:2px;
	height:17px;
	border:#d8d8d8 solid 1px;
	display:inline-block;
	float:left;
}
a.addcrt:hover{
	color:#000;
}
.addcrt:hover{
	color:#000;
}
.marg {
	margin-left:30px;}
/*
=======================================================================
	Advertise Rules
=======================================================================
*/
.adv {
	float:left;
	width:940px;
	margin-left:10px;
}
.adv ul{
	float:left;
	width:940px;
	list-style:none;
}
.adv ul li{
	float:left;
	margin-right:21px;
	border:#d7d7d7 solid 1px;
}
.adv ul li a{
	float:left;
}
.adv ul li.last{
	margin-right:0px;
}
/*
=======================================================================
	Categories Rules
=======================================================================
*/
.categories {
	width:100%;
	float:left;
	padding:10px 0px 20px 0px;
}
.categories ul{
	width:100%;
	float:left;
	list-style:none;
}
.categories ul li{
	width:214px;
	min-height:342px;
	float:left;
	border:#e3e3e3 solid 3px;
	color:#b1b1b1;
	margin-right:20px;
	margin-bottom:20px;
}
.categories1 ul li{
	width:214px;
	min-height:240px;
	float:left;
	border:#e3e3e3 solid 3px;
	color:#b1b1b1;
	
}
.categories ul li.last{
	margin-right:0px;
}
.categories1 ul li.last{
	margin-right:0px;
}
.categories ul li a.thumb{
	width:214px;
	height:195px;
	float:left;
}
.categories ul li a.thumb img{
	width:214px;
	height:195px;
}
.categories ul li .descr{
	width:184px;
	height:117px;
	padding:15px;
        border-spacing:  inherit;
	background-image:url(../images/cat_bg.gif);
	background-repeat:no-repeat;
	float:left;
}
.categories1 ul li .descr{
	width:184px;
	height:10px;
        padding-bottom: inherit;
	padding:15px;
	background-image:url(../images/cat_bg.gif);
	background-repeat:no-repeat;
	float:left;
}
.categories1 ul .descr1{
	height:230px;
        width:600px;
	padding:15px;
	float:left;
	border:#e3e3e3 solid 3px;
	color:#b1b1b1;
}
.categories ul li .descr h6{
	color:#FFF;
	padding-bottom:4px;
}
.categories ul li .descr a.catlink{
	color:#b1b1b1;
	background-image:url(../images/cat_sub_arow.gif);
	background-position:left;
	background-repeat:no-repeat;
	padding:3px 0px 3px 10px;
	width:200px;
	float:left;
}
.categories ul li .descr p a{
	color:#FFF;
	text-decoration:underline;
}
/*
=======================================================================
	Footer Rules
=======================================================================
*/
#footer {
	width:960px;
	color:#878787;
	margin-bottom:50px;
	background-color:#393939;
	border-top:5px solid #000;
	padding:20px 0px 10px 0px;
	margin-top:10px;
}
a.top {
	display:inline-block;
	background-image:url(../images/top.gif);
	background-repeat:no-repeat;
	background-position:85% 50%;
	float:right;
	color:#fff;
	width:50px;
	height:25px;
}
a.top:hover {
}
/*
=======================================================================
	Customer Services Rules
=======================================================================
*/
#footer .cus_care {
	width:390px;
	float:left;
	margin-left:35px;
}
#footer .cus_care h5{
	padding-left:25px;
	color:#f8f8f8;
	background-image:url(../images/cus_service.gif);
	background-repeat:no-repeat;
	background-position:left;
	margin-bottom:10px;
}
#footer .cus_care ul{
	list-style:none;
	float:left;
}
#footer .cus_care ul li{
	padding:4px 0px;
	float:left;
	width:190px;
}
#footer .cus_care ul li a{
	color:#888888;
	background-image:url(../images/footer_arrow.gif);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:10px;
}
#footer .cus_care ul li a:hover{
	color:#fff;
	text-decoration:underline;
}
/*
=======================================================================
	Newsletter Rules
=======================================================================
*/
#footer .newsletter {
	width:250px;
	float:left;
	margin-left:20px;
}
#footer .newsletter h5{
	padding-left:25px;
	color:#f8f8f8;
	background-image:url(../images/email.png);
	background-repeat:no-repeat;
	background-position:left;
	margin-bottom:20px;
}
#footer .newsletter p{
	padding:5px 0px;
}
#footer .newsletter ul{
	list-style:none;
	float:left;
}
#footer .newsletter ul li{
	float:left;
	padding-bottom:5px;
}
#footer .newsletter ul li input{
	float:left;
}
#footer .newsletter ul li input.bar{
	width:171px;
	height:19px;
	padding:3px 5px 0px 5px;
	background-image:url(../images/newsletter_bg.gif);
	background-position:left;
	background-repeat:repeat-x;
	background-color:#f4f4f4;
	color:#666;
	border:#333 solid 1px;
}
/*
=======================================================================
	Wishlist Rules
=======================================================================
*/
#footer .wishlist {
	float:left;
	margin-left:35px;
	width:220px;
}
#footer .wishlist h5.wish{
	padding-left:25px;
	color:#f8f8f8;
	background-image:url(../images/wishlist.gif);
	background-repeat:no-repeat;
	background-position:left;
	margin-bottom:10px;
}
#footer .wishlist h5.phone{
	padding-left:25px;
	color:#f8f8f8;
	margin:10px 0px;
}
#footer .wishlist p{
	margin-left:25px;
}
#footer .wishlist ul{
	list-style:none;
	float:left;
	margin-left:25px;
}
#footer .wishlist ul li{
	padding:4px 0px;
}
#footer .wishlist ul li a{
	color:#888888;
	background-image:url(../images/footer_arrow.gif);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:10px;
}
#footer .wishlist ul li a:hover{
	color:#fff;
	text-decoration:underline;
}
/*
=======================================================================
	Copyrights Rules
=======================================================================
*/
.copyrights {
	width:940px;
	padding:10px 10px 0px 10px;
	float:left;
	border-top:#6b6b6b solid 1px;
	margin-top:10px;
}
.copyrights p{
	float:left;
	margin-right:10px;
	color:#9e9e9e;
}
.footer_links{
	float:right;
	width:400px;
}
.footer_links ul{
	float:left;
	list-style:none;
	padding-top:5px;
	margin-right:10px;
}
.footer_links ul li{
	float:left;
	background-image:url(../images/sep_footer.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding:0px 8px;
}
.footer_links ul li.last{
	padding-right:0px;
	background-image:none;
}
.footer_links ul li a{
	color:#9e9e9e;
}
/*
=======================================================================
	Contact Page Rules
=======================================================================
*/
.contact {
	float:left;
	width:700px;
	margin-bottom:20px;
}
.mapsec {
	width:336px;
	float:left;
}
.mapsec h6{
	padding-bottom:10px;
	margin-top:10px;
}
.mapsec p{
	width:300px;
	float:left;
}
.map {
	float:left;
	margin-top:20px;
}
.map iframe{
	border-bottom:#000 solid 1px;
}
.map a.enlarg{
	font-weight:bold;
	padding:5px 0px;
	color:#333;
	float:left;
}
.contact_form {
	width:280px;
	float:right;
}
.contact_form h6{
	padding-bottom:10px;
	margin-top:10px;
}
.contact_form ul{
	float:left;
	list-style:none;
}
.contact_form ul li{
	margin-bottom:5px;
}
.contact_form input.bar{
	width:269px;
	height:24px;
	padding:0px 5px;
	border:#dddddd solid 1px;
	font-size:11px;
}
.contact_form textarea{
	width:269px;
	height:154px;
	padding:5px;
	border:#dddddd solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.error {
	color:#F00;
}
.seccess {
	color:#090;
}